body{
    background-color: rgb(251, 251, 251);
}
table,th,td{
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 250px;
    margin-bottom: 250px;
    border: 5px solid lime;
    padding-top: 20px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
    border-collapse :collapse;
}

th{
    background-color: rgb(200, 17, 78);
}

td{
    background-color: rgb(238, 11, 11);
}